.weather {
  color: #474747;
  letter-spacing: 0.02em;
}

.weather .form-control {
  height: 40px;
  color: #474747;
  letter-spacing: 0.02em;
}

.weather .form-control:focus {
  border-color: #4da4ea;
  box-shadow: 0 0 0 0.25rem rgb(77 164 234 / 17%);
}
.weather .btn {
  background: #4da4ea;
  color: white;
  border: none;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.02em;
}

.weather .btn:hover {
  background: #4994d1;
}

.weather h1 {
  font-weight: 700;
}

.weather .summary {
  padding: 40px 0;
}

.weather .summary-details {
  margin: 10px 0;
}

.weather .data-numbers {
  color: #4da4ea;
}

.weather .current-main {
  text-align: center;
  margin-top: 10px;
}

.weather .current-main canvas {
  vertical-align: middle;
}

.weather .current-temp {
  font-size: 70px;
  vertical-align: middle;
  line-height: 70px;
  margin-left: 20px;
  font-weight: 700;
}

.weather .units {
  font-size: 16px;
  position: relative;
  top: -15px;
  line-height: 1;
  margin-left: 5px;
}

footer a {
  color: #4da4ea;
  letter-spacing: 0.02em;
}

footer a:hover {
  color: #4994d1;
}
