.weather {
  color: #474747;
  letter-spacing: 0.02em;
}

.weather .form-control {
  height: 40px;
  color: #474747;
  letter-spacing: 0.02em;
}

.weather .form-control:focus {
  border-color: #61a4bc;
  box-shadow: 0 0 0 0.25rem rgb(77 164 234 / 17%);
}
.weather .btn {
  background: #61a4bc;
  color: white;
  border: none;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.02em;
  padding: 0;
}

.weather .btn:hover {
  background: #61a4bc;
}

.weather h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
}

.weather ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.weather .summary {
  padding: 40px 0;
}

.weather .current-main {
  text-align: center;
}

.weather .current-main canvas {
  vertical-align: middle;
}

.weather .current-temp {
  font-size: 60px;
  vertical-align: middle;
  line-height: 70px;
  margin-left: 20px;
  font-weight: 700;
}

.weather .units {
  font-size: 16px;
  position: relative;
  top: -15px;
  line-height: 1;
  margin-left: 5px;
}

footer {
  letter-spacing: 0.02em;
  font-size: 15px;
}

footer a {
  color: #61a4bc;
}

footer a:hover {
  color: #61a4bc;
}

@media (max-width: 768px) {
  .weather .current-main {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  .weather .current-temp {
    font-size: 50px;
  }
  .weather h1 {
    font-size: 35px;
  }
}
