.WeatherForecast {
  text-align: center;
}

.WeatherForecast canvas {
  margin: 10px auto;
}

.WeatherForecast-temp {
  font-weight: 600;
  font-size: 16px;
}

.WeatherForecast-temp-min {
  opacity: 0.6;
  margin-left: 5px;
}

@media (max-width: 576px) {
  .WeatherForecast-temp {
    font-weight: 600;
    font-size: 14px;
  }
}
